.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: calc(1/2 * 1.618033rem) auto;
}
.navigation a {
  text-decoration: none;
  text-transform: uppercase;
}
.navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: none;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.navigation ul li {
  padding: calc(1/2 * 1.618033rem) calc(1/3 * 1.618033rem);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation ul li:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  height: auto;
  overflow: visible;
}
.navigation ul li ul {
  height: 0;
  overflow: hidden;
  min-width: 10rem;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: calc(-1/3 * 1.618033rem);
  opacity: 0;
  background: rgba(128, 128, 128, 0.5);
}
.navigation ul li ul li.menu-item-has-children > a:after,
.navigation ul li ul li.nav-has-sub > a:after {
  float: right;
  content: " ►";
}
.navigation ul li ul li ul {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  margin-top: calc(-1.444 * 1.618033rem);
  margin-left: calc(100% - calc(1/3 * 1.618033rem));
  width: 100%;
}
