<footer class="footer pt-80">
    <div class="container">
        <div class="row mb-60">
            <!-- Logo -->
            <div class="col-md-3 col-sm-3 col-xs-12 mb-xs-30">
                <a class="footer-logo" href="home.html">
                    <img src="img/logo-black.png" /></a>
            </div>
            <!-- Logo -->

            <!-- Newsletter -->
            <div class="col-md-4 col-sm-5 col-xs-12 mb-xs-30">
                <div class="newsletter">
                    <form>
                        <input type="email" class="newsletter-input input-md newsletter-input mb-0"
                            placeholder="Enter Your Email">
                        <button class="newsletter-btn btn btn-xs btn-white" type="submit" value=""><i
                                class="fa fa-angle-right mr-0"></i></button>
                    </form>
                </div>
            </div>
            <!-- End Newsletter -->

            <!-- Social -->
            <div class="col-md-3 col-md-offset-2 col-sm-4 col-xs-12">
                <ul class="social">
                    <li><a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                    <li><a target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
            <!-- End Social -->
        </div>
        <!--Footer Info -->
        <div class="row footer-info mb-60">
            <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
                <p class="mb-xs-0">Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam
                    quis ante. Etiam sit amet orci eget eros.</p>
                <a class="btn-link-a" href="about-1.html">Read More</a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0">
                <ul class="link">
                    <li><a href="blog-grid-3col.html">Blog</a></li>
                    <li><a href="portfolio-grid-3col.html">Portfolio</a></li>
                    <li><a href="login-register.html">Login & Signup</a></li>
                    <li><a href="faq-1.html">FAQ</a></li>
                    <li><a href="about-1.html">About</a></li>
                    <li><a href="service-1.html">Service</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
                <ul class="link">
                    <li><a href="contact-1.html">Contact Us</a></li>
                    <li><a href="shop-checkout.html">Shopping Cart</a></li>
                    <li><a href="404-error-1.html">404 Error</a></li>
                    <li><a href="home.html">Home</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <p>Suite 33B, 999 du Collège, Montreal, Quebec, Canada, H4C 2S3</p>
                <ul class="link-small">
                    <li><a href="mailto:admin@openco.ca"><i class="fa fa-envelope-o left"></i>admin@openco.ca</a></li>
                    <li><a><i class="fa fa-phone left"></i>+1 514 360 2494</a></li>
                </ul>
            </div>
        </div>
        <!-- End Footer Info -->
    </div>

    <hr />

    <!-- Copyright Bar -->
    <section class="copyright ptb-60">
        <div class="container">
            <p class="">
                © 2015 <a><b>OpenCo Multiplicity Template</b></a>. All Rights Reserved.
                <br />
                Template by <a target="_blank" href="http://OpenCo.ca/"><b>OpenCo</b></a>
            </p>
        </div>
    </section>
    <!-- End Copyright Bar -->

</footer>