    <section class="side-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
        <a class="menu-close toggle-menu menu-right push-body"><i class="ion ion-android-close"></i></a>
        <h5 class="white">Sign In</h5>
        <div class="sign-in">
            <input class="input-sm form-full" type="email" aria-required="true" id="email" name="email" placeholder="Email" value="" />
            <input class="input-sm form-full" type="password" aria-required="true" id="password" name="password" placeholder="Password" value="" />
            <input type="submit" class="btn btn-md btn-color-b form-full" value="Sign In" />
            <a>New Customer?</a>
        </div>
        <ul>
            <li><a target="_blank" href="/">Main Demo Page</a></li>
            <li><a href="/home">Home Default</a></li>
            <li><a href="/portfolio-grid-2col">Portfolio</a></li>
            <li><a href="/login-register">Login & Signup</a></li>
            <li><a href="/faq-1">FAQ</a></li>
            <li><a href="/about-1">About</a></li>
            <li><a href="/service-1">Service</a></li>
            <li><a href="/blog-grid-3col">Blog</a></li>
            <li><a href="/404-error-1">404 Error</a></li>
            <li><a href="/shop-checkout">Shopping Cart</a></li>
            <li><a href="/contact-1">Contact Us</a></li>
        </ul>
    </section>