// Color variables (appears count calculates by raw css)
@color0: #e6ae49; // Appears 12 times
@color1: rgba(128, 128, 128, 0.5); // Appears 8 times
@color2: #eeeeee; // Appears 4 times
@color3: #ffffff; // Appears 4 times
@color4: #dddddd; // Appears 3 times
@color5: #f7f7f7; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width0: 750px; // Appears 3 times
@width2: 100%; // Appears 8 times

@phi: 1.618033rem;


.navigation {
    //position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: calc(1/2 * @phi) auto;

    a {
        text-decoration: none;
        text-transform: uppercase;
    }

    &>ul {
    }

    ul {
        list-style: none;
        display: flex;
        padding: none;
        backdrop-filter: blur(20px);
        li {
            padding: calc(1/2 * @phi) calc(1/3 * @phi);
            transition: all 0.3s ease;

            // show level 2
            &:hover>ul {
                display: flex;
                opacity: 1;
                transition: all 1s ease;
                height: auto;
                overflow: visible;
            }

            //level 2
            ul {
                height: 0;
                overflow: hidden;
                min-width: 10rem;
                position: fixed;
                flex-direction: column;
                margin-left: calc(-1/3 * @phi);
                opacity: 0;
               // backdrop-filter: blur(20px);
                background: @color1;

                li {

                    &.menu-item-has-children,
                    &.nav-has-sub {
                        >a:after {
                            float: right;
                            content: " ►";
                        }
                    }

                    ul {
                        // level 3
                        backdrop-filter: blur(20px);
                        flex-direction: column;
                        opacity: 0;
                        margin-top: calc(-1.444 * @phi);
                        margin-left: calc(100% - calc(1/3 * @phi));
                        width: 100%;
                    }
                }
            }
        }
    }
}
